tests/acceptation/src/main/resources/ExternalCarRentalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExternalCarRentalService" targetNamespace="http://informatique.polytech.unice.fr/soa/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa/" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa/" version="1.0">

      <xs:element name="getCarRentalList" type="tns:getCarRentalList"/>

      <xs:element name="getCarRentalListResponse" type="tns:getCarRentalListResponse"/>

      <xs:complexType name="getCarRentalList">
        <xs:sequence>
          <xs:element minOccurs="0" name="place" type="xs:string"/>
          <xs:element name="duration" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getCarRentalListResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="car_rentals" type="tns:car"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="car">
        <xs:sequence>
          <xs:element name="availability" type="xs:int"/>
          <xs:element minOccurs="0" name="brand" type="xs:string"/>
          <xs:element minOccurs="0" name="model" type="xs:string"/>
          <xs:element minOccurs="0" name="place" type="xs:string"/>
          <xs:element name="rentPricePerDay" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCarRentalList">
    <wsdl:part element="tns:getCarRentalList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarRentalListResponse">
    <wsdl:part element="tns:getCarRentalListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarRental">
    <wsdl:operation name="getCarRentalList">
      <wsdl:input message="tns:getCarRentalList" name="getCarRentalList">
      </wsdl:input>
      <wsdl:output message="tns:getCarRentalListResponse" name="getCarRentalListResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalCarRentalServiceSoapBinding" type="tns:CarRental">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCarRentalList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarRentalList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarRentalListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalCarRentalService">
    <wsdl:port binding="tns:ExternalCarRentalServiceSoapBinding" name="ExternalCarRentalPort">
      <soap:address location="http://localhost:8080/tcs-cars-service/ExternalCarRentalService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>